# Библиотеки для работы с данными Python
## Часть 1

In [1]:
with open('files/train.csv', 'r') as datafile: # открыли файл train.csv на чтение в переменную datafile
    data_lines = datafile.read().splitlines() # Создали новую переменную data_lines 
                                            # и считали в нее информацию из datafile и разбили построчно

In [5]:
print(data_lines[0]) # выводим на экран первую строчку в массиве data_lines - Это будут заголовки

Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,Condition1,Condition2,BldgType,HouseStyle,OverallQual,OverallCond,YearBuilt,YearRemodAdd,RoofStyle,RoofMatl,Exterior1st,Exterior2nd,MasVnrType,MasVnrArea,ExterQual,ExterCond,Foundation,BsmtQual,BsmtCond,BsmtExposure,BsmtFinType1,BsmtFinSF1,BsmtFinType2,BsmtFinSF2,BsmtUnfSF,TotalBsmtSF,Heating,HeatingQC,CentralAir,Electrical,1stFlrSF,2ndFlrSF,LowQualFinSF,GrLivArea,BsmtFullBath,BsmtHalfBath,FullBath,HalfBath,BedroomAbvGr,KitchenAbvGr,KitchenQual,TotRmsAbvGrd,Functional,Fireplaces,FireplaceQu,GarageType,GarageYrBlt,GarageFinish,GarageCars,GarageArea,GarageQual,GarageCond,PavedDrive,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice

In [6]:
print(data_lines[1]) # Вывести на экран вторую строчку в массиве data_lines - Это будет первая строчка значений

1,60,RL,65,8450,Pave,NA,Reg,Lvl,AllPub,Inside,Gtl,CollgCr,Norm,Norm,1Fam,2Story,7,5,2003,2003,Gable,CompShg,VinylSd,VinylSd,BrkFace,196,Gd,TA,PConc,Gd,TA,No,GLQ,706,Unf,0,150,856,GasA,Ex,Y,SBrkr,856,854,0,1710,1,0,2,1,3,1,Gd,8,Typ,0,NA,Attchd,2003,RFn,2,548,TA,TA,Y,0,61,0,0,0,0,NA,NA,NA,0,2,2008,WD,Normal,208500

# Библиотека Pandas

In [2]:
import pandas as pd # Мы импортируем библиотеку PANDAS и создаем для нее сокращение PD, чтобы каждый раз не писать PANDAS

In [3]:
print(pd.__version__) # показать версию библиотеки PANDAS (расшифровывается как панельные данные)

1.3.4

#### Важные "сущности"
- pandas.DataFrame - Таблица (двумерные данные)
- pandas.Series - столбец/строка (одномерные данные)
- pandas.Index - индекс (список названий строк/столбцов)

## Чтение/Запись таблицы из файла CSV

#### Важные параметры
- sep='.' - разделитель (бывает '\t', ';', ' ' и т.д.)
- decimal='.' - символ, отделяющий дробную часть (в русской локализации бывает ',')
- encoding='utf8' - кодировка (в Windows часто бывает 'cp1251)

In [4]:
pd.read_csv('files/train.csv', nrows=10, index_col='Id') # для начала лучше считать первые 10 строк файла
        # так как файле есть поле индекса, то указываем пандасу, чтобы при чтении файла использовался внутренний индекс
    
# помимо read_csv есть еще куча форматов, достаточно набрать pd.read и нажать TAB, можно даже читать с буфера обмена
# для того чтобы посмотреть подробне об атрибутах и синтаксисе надо нажать Shift + TAB

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
Id,,,,,,,,,,,,,,,,,,,,,
1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,Corner,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
6,50,RL,85.0,14115,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,NaN,MnPrv,Shed,700,10,2009,WD,Normal,143000
7,20,RL,75.0,10084,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,307000
8,60,RL,NaN,10382,Pave,NaN,IR1,Lvl,AllPub,Corner,...,0,NaN,NaN,Shed,350,11,2009,WD,Normal,200000
9,50,RM,51.0,6120,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,4,2008,WD,Abnorml,129900
10,190,RL,50.0,7420,Pave,NaN,Reg,Lvl,AllPub,Corner,...,0,NaN,NaN,NaN,0,1,2008,WD,Normal,118000

In [5]:
df = pd.read_csv('files/train.csv', nrows=10) # записали дата фрейм в переменную df

In [6]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [7]:
df.to_csv('files/trained_head.csv') # записали переменную в файл .csv

#  Просмотр таблицы и индексация

# Создаем переменную df
Записывая туда работу модуля Pandas

In [8]:
df = pd.read_csv('files/train.csv', nrows=100, index_col='Id') # присваиваем датафрейм из 100 строк переменной df

### Часть таблицы

In [28]:
df

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,Condition1,Condition2,BldgType,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
Id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,Inside,Gtl,CollgCr,Norm,Norm,1Fam,...,0,61,0,0,0,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,FR2,Gtl,Veenker,Feedr,Norm,1Fam,...,298,0,0,0,0,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,Inside,Gtl,CollgCr,Norm,Norm,1Fam,...,0,42,0,0,0,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,Corner,Gtl,Crawfor,Norm,Norm,1Fam,...,0,35,272,0,0,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,FR2,Gtl,NoRidge,Norm,Norm,1Fam,...,192,84,0,0,0,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,60,RL,NaN,9765,Pave,NaN,IR2,Lvl,AllPub,Corner,Gtl,Gilbert,Norm,Norm,1Fam,...,232,63,0,0,0,0,NaN,NaN,Shed,480,4,2009,WD,Normal,185000
97,20,RL,78.0,10264,Pave,NaN,IR1,Lvl,AllPub,Inside,Gtl,CollgCr,Norm,Norm,1Fam,...,158,29,0,0,0,0,NaN,NaN,NaN,0,8,2006,WD,Normal,214000
98,20,RL,73.0,10921,Pave,NaN,Reg,HLS,AllPub,Inside,Gtl,Edwards,Norm,Norm,1Fam,...,120,0,0,0,0,0,NaN,NaN,NaN,0,5,2007,WD,Normal,94750
99,30,RL,85.0,10625,Pave,NaN,Reg,Lvl,AllPub,Corner,Gtl,Edwards,Norm,Norm,1Fam,...,0,0,77,0,0,0,NaN,NaN,Shed,400,5,2010,COD,Abnorml,83000
100,20,RL,77.0,9320,Pave,NaN,IR1,Lvl,AllPub,Inside,Gtl,NAmes,Norm,Norm,1Fam,...,352,0,0,0,0,0,NaN,NaN,Shed,400,1,2010,WD,Normal,128950

In [27]:
pd.set_option('display.max_rows', 10) # меняем значение по умолчанию. А именно сколько строк выводить на экран
pd.set_option('display.max_columns', 30) # Сколько столбцов выводить на экран

In [9]:
df.head(3) # вывести первые 3 строчки из датасета df

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
Id,,,,,,,,,,,,,,,,,,,,,
1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500

In [10]:
df.tail(5) # вывести последние 5 строчек из датасета df

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
Id,,,,,,,,,,,,,,,,,,,,,
96,60,RL,NaN,9765,Pave,NaN,IR2,Lvl,AllPub,Corner,...,0,NaN,NaN,Shed,480,4,2009,WD,Normal,185000
97,20,RL,78.0,10264,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,8,2006,WD,Normal,214000
98,20,RL,73.0,10921,Pave,NaN,Reg,HLS,AllPub,Inside,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,94750
99,30,RL,85.0,10625,Pave,NaN,Reg,Lvl,AllPub,Corner,...,0,NaN,NaN,Shed,400,5,2010,COD,Abnorml,83000
100,20,RL,77.0,9320,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,NaN,NaN,Shed,400,1,2010,WD,Normal,128950

In [31]:
df.sample(5) # вывести случайные 5 строчек из датасета df

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,Condition1,Condition2,BldgType,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
Id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
85,80,RL,NaN,8530,Pave,NaN,IR1,Lvl,AllPub,Inside,Gtl,Gilbert,Norm,Norm,1Fam,...,120,72,0,0,0,0,NaN,NaN,Shed,700,5,2009,WD,Normal,168500
49,190,RM,33.0,4456,Pave,NaN,Reg,Lvl,AllPub,Inside,Gtl,OldTown,Norm,Norm,2fmCon,...,0,0,102,0,0,0,NaN,NaN,NaN,0,6,2009,New,Partial,113000
67,20,RL,NaN,19900,Pave,NaN,Reg,Lvl,AllPub,Inside,Gtl,NAmes,PosA,Norm,1Fam,...,301,0,0,0,0,0,NaN,NaN,NaN,0,7,2010,WD,Normal,180000
76,180,RM,21.0,1596,Pave,NaN,Reg,Lvl,AllPub,Inside,Gtl,MeadowV,Norm,Norm,Twnhs,...,120,101,0,0,0,0,NaN,GdWo,NaN,0,11,2009,WD,Normal,91000
70,50,RL,81.0,15593,Pave,NaN,Reg,Lvl,AllPub,Corner,Gtl,ClearCr,Norm,Norm,1Fam,...,0,21,114,0,0,0,NaN,NaN,NaN,0,7,2006,WD,Normal,225000

## Индекс и названия столбцов

In [32]:
df.shape # показывает сколько строк и столбцов в нашем датафрейме

(100, 80)

In [11]:
df.index # Посмотреть заголовки строк (индексы). В этом датафрейме это колонка ID. Строки именуются целыми числами от 1 до 100

Int64Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
             14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
             27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
             40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
             53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
             66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
             79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
             92,  93,  94,  95,  96,  97,  98,  99, 100],
           dtype='int64', name='Id')

In [11]:
df.columns # Посмотреть заголовки колонок.

Index(['MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street', 'Alley',
       'LotShape', 'LandContour', 'Utilities', 'LotConfig', 'LandSlope',
       'Neighborhood', 'Condition1', 'Condition2', 'BldgType', 'HouseStyle',
       'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd', 'RoofStyle',
       'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType', 'MasVnrArea',
       'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual', 'BsmtCond',
       'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1', 'BsmtFinType2',
       'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating', 'HeatingQC',
       'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF', 'LowQualFinSF',
       'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath', 'HalfBath',
       'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual', 'TotRmsAbvGrd',
       'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType', 'GarageYrBlt',
       'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual', 'GarageCond',
       'PavedDrive', 'WoodDeckSF', 'OpenPorchSF', 'EnclosedPorch', '3SsnPorch',
       'ScreenPorch', 'PoolArea', 'PoolQC', 'Fence', 'MiscFeature', 'MiscVal',
       'MoSold', 'YrSold', 'SaleType', 'SaleCondition', 'SalePrice'],
      dtype='object')

In [35]:
df.sample(5).index # посмотреть случайный список заголовков строк

Int64Index([41, 78, 36, 75, 64], dtype='int64', name='Id')

In [36]:
df.T # Этот атрибут возвращает Транспонирование таблицы, строки и столбцы меняются местами

Id,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,...,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100
MSSubClass,60,20,60,70,60,50,20,60,50,190,20,60,20,20,20,...,60,60,160,50,20,20,20,30,190,60,60,20,20,30,20
MSZoning,RL,RL,RL,RL,RL,RL,RL,RL,RM,RL,RL,RL,RL,RL,RL,...,RL,RL,FV,C (all),RL,RL,RL,RL,C (all),RL,RL,RL,RL,RL,RL
LotFrontage,65.0,80.0,68.0,60.0,84.0,85.0,75.0,NaN,51.0,50.0,70.0,85.0,NaN,91.0,NaN,...,121.0,122.0,40.0,105.0,60.0,60.0,85.0,80.0,60.0,69.0,NaN,78.0,73.0,85.0,77.0
LotArea,8450,9600,11250,9550,14260,14115,10084,10382,6120,7420,11200,11924,12968,10652,10920,...,16059,11911,3951,8470,8070,7200,8500,13360,7200,9337,9765,10264,10921,10625,9320
Street,Pave,Pave,Pave,Pave,Pave,Pave,Pave,Pave,Pave,Pave,Pave,Pave,Pave,Pave,Pave,...,Pave,Pave,Pave,Pave,Pave,Pave,Pave,Pave,Pave,Pave,Pave,Pave,Pave,Pave,Pave
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
MoSold,2,5,9,2,12,10,8,11,4,1,2,7,9,8,5,...,4,3,6,10,8,7,12,8,11,5,4,8,5,5,1
YrSold,2008,2007,2008,2006,2008,2009,2007,2009,2008,2008,2008,2006,2008,2007,2008,...,2006,2009,2009,2009,2007,2006,2006,2009,2007,2007,2009,2006,2007,2010,2010
SaleType,WD,WD,WD,WD,WD,WD,WD,WD,WD,WD,WD,New,WD,New,WD,...,WD,WD,New,ConLD,WD,WD,WD,WD,WD,WD,WD,WD,WD,COD,WD
SaleCondition,Normal,Normal,Normal,Abnorml,Normal,Normal,Normal,Normal,Abnorml,Normal,Normal,Partial,Normal,Partial,Normal,...,Normal,Normal,Partial,Abnorml,Normal,Normal,Abnorml,Normal,Normal,Normal,Normal,Normal,Normal,Abnorml,Normal
SalePrice,208500,181500,223500,140000,250000,143000,307000,200000,129900,118000,129500,345000,144000,279500,157000,...,260000,174000,164500,85000,123600,109900,98600,163500,133900,204750,185000,214000,94750,83000,128950

In [12]:
print(df.T.shape) # проверка что таблица действительно транспонировалась. Видно по количеству строк и столбцов
print(df.T.columns)

(80, 100)
Int64Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
             14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
             27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
             40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
             53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
             66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
             79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
             92,  93,  94,  95,  96,  97,  98,  99, 100],
           dtype='int64', name='Id')

# Базовая индексация

## Столбцы

In [39]:
df['SalePrice'] # вывод одной колонки, у нее есть индекс

Id
1      208500
2      181500
3      223500
4      140000
5      250000
        ...
96     185000
97     214000
98      94750
99      83000
100    128950
Name: SalePrice, Length: 100, dtype: int64

In [40]:
print(type(df['SalePrice'])) # смотрим тип, теперь это не датафрейм а Сириес, то есть одномерные данные

<class 'pandas.core.series.Series'>

In [41]:
df['SalePrice'].index

Int64Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
             14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
             27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
             40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
             53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
             66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
             79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
             92,  93,  94,  95,  96,  97,  98,  99, 100],
           dtype='int64', name='Id')

In [43]:
# df['SalePrice'].columns # Этот код даст ошибку так как это уже одномерные данные и у него нет колонок

In [13]:
df.SalePrice # помимо обращения к колонкам в квадратных скобках мы можем обращаться просто как атрибуту
                # через точку, но только если заголовок не конфликтует с синтаксисом Python
                # можно посмотреть список заголовков через TAB

Id
1      208500
2      181500
3      223500
4      140000
5      250000
        ...
96     185000
97     214000
98      94750
99      83000
100    128950
Name: SalePrice, Length: 100, dtype: int64

In [13]:
df[ ['SaleType','SalePrice'] ] # Передать список в датафрейм, то есть это уже двумерная сущность, а не Series
                                # То есть в квадратные скобки мы передаем список названий, то есть по сути это list()

    SaleType  SalePrice
Id
1         WD     208500
2         WD     181500
3         WD     223500
4         WD     140000
5         WD     250000
..       ...        ...
96        WD     185000
97        WD     214000
98        WD      94750
99       COD      83000
100       WD     128950

[100 rows x 2 columns]

In [53]:
print(type(df['SalePrice']))
df['SalePrice'] # Это одномерные данные Series

<class 'pandas.core.series.Series'>

Id
1      208500
2      181500
3      223500
4      140000
5      250000
        ...
96     185000
97     214000
98      94750
99      83000
100    128950
Name: SalePrice, Length: 100, dtype: int64

In [54]:
print(type(df[['SalePrice']]))
df[['SalePrice']] # А это уже DataFrame, хоть и из одного элемента, то есть двумерные данные

<class 'pandas.core.frame.DataFrame'>

     SalePrice
Id
1       208500
2       181500
3       223500
4       140000
5       250000
..         ...
96      185000
97      214000
98       94750
99       83000
100     128950

[100 rows x 1 columns]

# Строки

In [16]:
df.loc[1] # с помощью атрибюута loc мы можем выводить строки
            # это одномерные данные Series. Строки как и столбцы выводятся со своими индексами
            # в данном случае это заголовки наших колонок

MSSubClass           60
MSZoning             RL
LotFrontage        65.0
LotArea            8450
Street             Pave
                  ...
MoSold                2
YrSold             2008
SaleType             WD
SaleCondition    Normal
SalePrice        208500
Name: 1, Length: 80, dtype: object

In [55]:
print(type(df.loc[1]))

<class 'pandas.core.series.Series'>

In [57]:
df.loc[1].index #  Вывод первой строки

Index(['MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street', 'Alley',
       'LotShape', 'LandContour', 'Utilities', 'LotConfig', 'LandSlope',
       'Neighborhood', 'Condition1', 'Condition2', 'BldgType', 'HouseStyle',
       'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd', 'RoofStyle',
       'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType', 'MasVnrArea',
       'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual', 'BsmtCond',
       'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1', 'BsmtFinType2',
       'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating', 'HeatingQC',
       'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF', 'LowQualFinSF',
       'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath', 'HalfBath',
       'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual', 'TotRmsAbvGrd',
       'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType', 'GarageYrBlt',
       'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual', 'GarageCond',
       'PavedDrive', 'WoodDeckSF', 'OpenPorchSF', 'EnclosedPorch', '3SsnPorch',
       'ScreenPorch', 'PoolArea', 'PoolQC', 'Fence', 'MiscFeature', 'MiscVal',
       'MoSold', 'YrSold', 'SaleType', 'SaleCondition', 'SalePrice'],
      dtype='object')

In [59]:
# df.loc[1].columns # Этот код выдаст ошибку, так как колонок у нас уже нет

In [61]:
df.loc[[1, 3, 10]] # Вывод датафрейма с 1, 3, 10 строкой

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,Condition1,Condition2,BldgType,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
Id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,Inside,Gtl,CollgCr,Norm,Norm,1Fam,...,0,61,0,0,0,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,Inside,Gtl,CollgCr,Norm,Norm,1Fam,...,0,42,0,0,0,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
10,190,RL,50.0,7420,Pave,NaN,Reg,Lvl,AllPub,Corner,Gtl,BrkSide,Artery,Artery,2fmCon,...,0,4,0,0,0,0,NaN,NaN,NaN,0,1,2008,WD,Normal,118000

## Столбцы и строки
#### Если оба индекса - значения, то получаем один объект

In [22]:
df.loc[3, 'YrSold'] # индексация по строкам и столбцам, в данном случае мы получили 3 значение в столбце YrSold
                    # то есть по сути идет доступ к конкретной ячейке, в данном случае это тип данных INT

2008

#### Если один из индексов - список, то получаем элемент типа Series, то есть одномерные данные

In [19]:
df.loc[[1, 3, 4], 'YrSold'] # в данном примере мы получили 1,3 и 4 значение в колонке YrSold

Id
1    2008
3    2008
4    2006
Name: YrSold, dtype: int64

#### Если оба из индексов - списоки, то получаем элемент типа DataFrame, то есть двумерные данные

In [21]:
df.loc[[1, 3, 4], ['SalePrice', 'YrSold']] # в данном примере мы получили 1,3 и 4 строку в колонках SalePrice и YrSold

    SalePrice  YrSold
Id
1      208500    2008
3      223500    2008
4      140000    2006

#### Вместо списков могут быть срезы (slice)

In [24]:
df.loc[1:4, 'YrSold'] # срез пишется без квадратных скобок
                        # тут мы выводим с 1 по 4 значение в колонке YrSold

Id
1    2008
2    2007
3    2008
4    2006
Name: YrSold, dtype: int64

In [26]:
df.loc[:5, 'YrSold':'SalePrice'] # Тут мы выводим DataFrame с помощью срезов
                                # Выводится все строки с начала до 5 включистельно
                                # В колонках от YrSold до SalePrice. Перебор идет по порядку

    YrSold SaleType SaleCondition  SalePrice
Id
1     2008       WD        Normal     208500
2     2007       WD        Normal     181500
3     2008       WD        Normal     223500
4     2006       WD       Abnorml     140000
5     2008       WD        Normal     250000

#### Важное отличие. В отличие от обычных питоновских срезов, срез берется до правого конца включительно

### Индексация по номерам

In [29]:
df.iloc[0] # индексация осуществляется по позициям и очень похожа на питоновские срезы итерируемых значений
            # Здесь мы выводим первую строку. Для каждого значения указан заголовок

MSSubClass           60
MSZoning             RL
LotFrontage        65.0
LotArea            8450
Street             Pave
                  ...
MoSold                2
YrSold             2008
SaleType             WD
SaleCondition    Normal
SalePrice        208500
Name: 1, Length: 80, dtype: object

In [31]:
df.iloc[0, :4] # Выводим значения 1 строки для колонок с первой по четвертую

MSSubClass       60
MSZoning         RL
LotFrontage    65.0
LotArea        8450
Name: 1, dtype: object

In [33]:
df.iloc[-3:, -1] # Выводим значения последних трех строк, для последней колонки

Id
98      94750
99      83000
100    128950
Name: SalePrice, dtype: int64

## Резюме
- df[X] для столбцов (или df.*)
- df.loc[X] для строк
- df.loc[X, X] для строк и столбцов
- df.iloc[X, X] для строк и столбцов по номерам

## Информация о таблице

In [39]:
df.info(memory_usage='deep') # выводит сводную информацию по таблице, можно увидеть насколько и какими типами данных
                            # заполнена таблица
                            # параметр 'deep' выводит количество оперативной памяти, которе занимает таблица

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100 entries, 1 to 100
Data columns (total 80 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   MSSubClass     100 non-null    int64
 1   MSZoning       100 non-null    object
 2   LotFrontage    86 non-null     float64
 3   LotArea        100 non-null    int64
 4   Street         100 non-null    object
 5   Alley          6 non-null      object
 6   LotShape       100 non-null    object
 7   LandContour    100 non-null    object
 8   Utilities      100 non-null    object
 9   LotConfig      100 non-null    object
 10  LandSlope      100 non-null    object
 11  Neighborhood   100 non-null    object
 12  Condition1     100 non-null    object
 13  Condition2     100 non-null    object
 14  BldgType       100 non-null    object
 15  HouseStyle     100 non-null    object
 16  OverallQual    100 non-null    int64
 17  OverallCond    100 non-null    int64
 18  YearBuilt      100 non-null    int64
 19  YearRemodAdd   100 non-null    int64
 20  RoofStyle      100 non-null    object
 21  RoofMatl       100 non-null    object
 22  Exterior1st    100 non-null    object
 23  Exterior2nd    100 non-null    object
 24  MasVnrType     100 non-null    object
 25  MasVnrArea     100 non-null    int64
 26  ExterQual      100 non-null    object
 27  ExterCond      100 non-null    object
 28  Foundation     100 non-null    object
 29  BsmtQual       97 non-null     object
 30  BsmtCond       97 non-null     object
 31  BsmtExposure   97 non-null     object
 32  BsmtFinType1   97 non-null     object
 33  BsmtFinSF1     100 non-null    int64
 34  BsmtFinType2   97 non-null     object
 35  BsmtFinSF2     100 non-null    int64
 36  BsmtUnfSF      100 non-null    int64
 37  TotalBsmtSF    100 non-null    int64
 38  Heating        100 non-null    object
 39  HeatingQC      100 non-null    object
 40  CentralAir     100 non-null    object
 41  Electrical     100 non-null    object
 42  1stFlrSF       100 non-null    int64
 43  2ndFlrSF       100 non-null    int64
 44  LowQualFinSF   100 non-null    int64
 45  GrLivArea      100 non-null    int64
 46  BsmtFullBath   100 non-null    int64
 47  BsmtHalfBath   100 non-null    int64
 48  FullBath       100 non-null    int64
 49  HalfBath       100 non-null    int64
 50  BedroomAbvGr   100 non-null    int64
 51  KitchenAbvGr   100 non-null    int64
 52  KitchenQual    100 non-null    object
 53  TotRmsAbvGrd   100 non-null    int64
 54  Functional     100 non-null    object
 55  Fireplaces     100 non-null    int64
 56  FireplaceQu    46 non-null     object
 57  GarageType     94 non-null     object
 58  GarageYrBlt    94 non-null     float64
 59  GarageFinish   94 non-null     object
 60  GarageCars     100 non-null    int64
 61  GarageArea     100 non-null    int64
 62  GarageQual     94 non-null     object
 63  GarageCond     94 non-null     object
 64  PavedDrive     100 non-null    object
 65  WoodDeckSF     100 non-null    int64
 66  OpenPorchSF    100 non-null    int64
 67  EnclosedPorch  100 non-null    int64
 68  3SsnPorch      100 non-null    int64
 69  ScreenPorch    100 non-null    int64
 70  PoolArea       100 non-null    int64
 71  PoolQC         0 non-null      float64
 72  Fence          23 non-null     object
 73  MiscFeature    9 non-null      object
 74  MiscVal        100 non-null    int64
 75  MoSold         100 non-null    int64
 76  YrSold         100 non-null    int64
 77  SaleType       100 non-null    object
 78  SaleCondition  100 non-null    object
 79  SalePrice      100 non-null    int64
dtypes: float64(3), int64(35), object(42)
memory usage: 273.8 KB

In [40]:
df.describe() # Выводит кратую сводку по заполнености таблицы по столбцам
                # Результат работы describe возвращает нам DataFrame который мы можем записать в файл и использовать

,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,...,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,PoolQC,MiscVal,MoSold,YrSold,SalePrice
count,100.000000,86.000000,100.000000,100.000000,100.00000,100.000000,100.000000,100.000000,100.000000,100.000000,...,100.000000,100.000000,100.000000,100.000000,100.0,0.0,100.000000,100.000000,100.00000,100.000000
mean,52.000000,71.406977,10115.870000,5.980000,5.50000,1971.410000,1983.920000,121.640000,454.560000,33.910000,...,46.900000,24.130000,7.270000,10.160000,0.0,NaN,46.300000,6.330000,2007.90000,173820.660000
std,42.545282,21.093840,5130.541763,1.530696,0.97959,29.373284,20.967353,213.553982,462.034922,131.575158,...,59.743306,60.211019,51.518724,46.908835,0.0,NaN,153.692958,3.048613,1.35959,72236.552886
min,20.000000,21.000000,1596.000000,3.000000,2.00000,1910.000000,1950.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.0,NaN,0.000000,1.000000,2006.00000,40000.000000
25%,20.000000,60.000000,7643.250000,5.000000,5.00000,1954.750000,1964.750000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.0,NaN,0.000000,4.750000,2007.00000,129362.500000
50%,45.000000,70.000000,9595.500000,6.000000,5.00000,1970.000000,1994.000000,0.000000,416.000000,0.000000,...,30.000000,0.000000,0.000000,0.000000,0.0,NaN,0.000000,6.000000,2008.00000,153750.000000
75%,60.000000,84.000000,11243.250000,7.000000,6.00000,2000.250000,2003.250000,188.500000,737.500000,0.000000,...,72.000000,0.000000,0.000000,0.000000,0.0,NaN,0.000000,8.000000,2009.00000,207750.000000
max,190.000000,122.000000,50271.000000,10.000000,8.00000,2009.000000,2009.000000,1115.000000,1880.000000,712.000000,...,258.000000,272.000000,407.000000,291.000000,0.0,NaN,700.000000,12.000000,2010.00000,438780.000000

In [42]:
df.describe()['OverallCond'] # Так как Describe возвращает нам ДатаФрейм, мы может взаимодействовать с ним 
                            # Стандартными методоми. Например получить Series из конкретной колонки

count    100.00000
mean       5.50000
std        0.97959
min        2.00000
25%        5.00000
50%        5.00000
75%        6.00000
max        8.00000
Name: OverallCond, dtype: float64

# Статистика и агрегатные функции
## Статистика для Series
### Например для столбцов

In [14]:
print("Количество непропущенных значений:", df.LotArea.count()) # Для столбца LotArea вывести количество непропущенных значений
print("Количество непропущенных значений:", df.LotFrontage.count()) # Для столбца Frontage количество непропущенных значений
print("Минимальное значение:", df.LotArea.min()) # 
print("Максимальное значение:", df.LotArea.max()) # 
print("Среднее значение:", df.LotArea.mean()) # 
print("Медианное значение:", df.LotArea.median()) # 
print("Стандартное отклонение:", df.LotArea.std()) # 
print("Дисперсия:", df.LotArea.var()) # 
print("Квантиль 25%", df.LotArea.quantile(0.25)) # 
print("Квантиль:\n", df.LotArea.quantile([0.0, 0.25, 0.5, 0.75, 1.0]), sep='') # 
print("Сумма значений: ", df.LotArea.sum()) #

Количество непропущенных значений: 100
Количество непропущенных значений: 86
Минимальное значение: 1596
Максимальное значение: 50271
Среднее значение: 10115.87
Медианное значение: 9595.5
Стандартное отклонение: 5130.541762904685
Дисперсия: 26322458.78090911
Квантиль 25% 7643.25
Квантиль:
0.00     1596.00
0.25     7643.25
0.50     9595.50
0.75    11243.25
1.00    50271.00
Name: LotArea, dtype: float64
Сумма значений:  1011587

### Можно смотреть статистику так же для строк

In [71]:
df.loc[1].count() # количество непропущенных значений в первой строке

75

## Статистики для DataFrame
### Вызывается так же, считается по умолчанию для каждого столбца ("вдоль строк")

In [72]:
df.count() # Вернется Series с количеством непропущенных значений

MSSubClass       100
MSZoning         100
LotFrontage       86
LotArea          100
Street           100
                ...
MoSold           100
YrSold           100
SaleType         100
SaleCondition    100
SalePrice        100
Length: 80, dtype: int64

### Можно посчитать и для каждой строки ("вдоль столбцов")

In [74]:
df.count(axis=1) # С помощью axis считаем не 0 ось (строки), а 1 ось (столбцы)

Id
1      75
2      76
3      76
4      76
5      76
       ..
96     76
97     75
98     75
99     76
100    71
Length: 100, dtype: int64

In [81]:
df[['LotArea', 'MasVnrArea', 'GrLivArea', 'GarageArea', 'PoolArea']].sum(axis=1) # Посчитать горизонтальную сумму
                                                                                # перечисленных колонок

Id
1      10904
2      11322
3      13806
4      11909
5      17644
       ...
96     11723
97     12507
98     12361
99     11826
100    10545
Length: 100, dtype: int64

## Уникальные значения

In [19]:
df.Neighborhood.value_counts() # value_counts() считает сколько раз встречается то или иное значение
                                # Возвращает тип Series

NAmes      21
CollgCr    14
NridgHt     9
OldTown     7
Sawyer      7
Somerst     5
Gilbert     5
BrkSide     5
IDOTRR      5
Mitchel     4
Edwards     3
SawyerW     3
NoRidge     2
MeadowV     2
Crawfor     2
Veenker     2
Timber      1
NWAmes      1
StoneBr     1
ClearCr     1
Name: Neighborhood, dtype: int64

In [26]:
df.Neighborhood.value_counts(normalize=True) # Параметр normalize возвращает не абсолютное значение, а частоту упоминания.

NAmes      0.21
CollgCr    0.14
NridgHt    0.09
OldTown    0.07
Sawyer     0.07
Somerst    0.05
Gilbert    0.05
BrkSide    0.05
IDOTRR     0.05
Mitchel    0.04
Edwards    0.03
SawyerW    0.03
NoRidge    0.02
MeadowV    0.02
Crawfor    0.02
Veenker    0.02
Timber     0.01
NWAmes     0.01
StoneBr    0.01
ClearCr    0.01
Name: Neighborhood, dtype: float64

In [30]:
df.Alley.value_counts(dropna=False) # Параметр dropna отвечает за то будем ли мы учитывать 
                                    # в расчете пустые значения для рассчета статистики

NaN     94
Grvl     3
Pave     3
Name: Alley, dtype: int64

In [32]:
df.Alley.value_counts(dropna=False, normalize=True) # Тут мы расчитываем частоту упоминания с учетом пустых значений

NaN     0.94
Grvl    0.03
Pave    0.03
Name: Alley, dtype: float64

In [35]:
df.Neighborhood.nunique() # Выводим количество уникальных значений

20

In [40]:
df.Alley.nunique(dropna=False) # Выводим количество уникальных значений с учетом пустых

3

In [34]:
df.Neighborhood.unique() # Вывод уникальных значений

array(['CollgCr', 'Veenker', 'Crawfor', 'NoRidge', 'Mitchel', 'Somerst',
       'NWAmes', 'OldTown', 'BrkSide', 'Sawyer', 'NridgHt', 'NAmes',
       'SawyerW', 'IDOTRR', 'MeadowV', 'Edwards', 'Timber', 'Gilbert',
       'StoneBr', 'ClearCr'], dtype=object)

In [39]:
df.Alley.unique() # Вывод уникальных значений

array([nan, 'Grvl', 'Pave'], dtype=object)

# Рассчет новых значений (формулы)
## Арифметические операции

In [47]:
df.LotArea.head(5) # Выводим первые 5 значений

Id
1     8450
2     9600
3    11250
4     9550
5    14260
Name: LotArea, dtype: int64

In [49]:
(2 * df.LotArea).head(5) # Умножаем на 2 каждое значение

Id
1    16900
2    19200
3    22500
4    19100
5    28520
Name: LotArea, dtype: int64

In [51]:
(df.LotArea - 1000).head(5) # Вычитаем из каждого значения 1000

Id
1     7450
2     8600
3    10250
4     8550
5    13260
Name: LotArea, dtype: int64

In [55]:
((df.LotArea - df.LotArea.mean()) / df.LotArea.std()).head(5) # Для значений можно прописывать большие формулы

Id
1   -0.324697
2   -0.100549
3    0.221055
4   -0.110294
5    0.807737
Name: LotArea, dtype: float64

### Те же операции работают и для двух Series

In [65]:
(df.SalePrice / df.LotArea).head(5) # Делим значения одной колонки на другую
                                    # По сути тут мы получаем цену квадратного метра, так как делим Стоимость на площадь

Id
1    24.674556
2    18.906250
3    19.866667
4    14.659686
5    17.531557
dtype: float64

In [61]:
(df.GarageArea + df.LotArea).head(5) # Складываем значения здвух столбцов

Id
1     8998
2    10060
3    11858
4    10192
5    15096
dtype: int64

# Проверка условий

In [64]:
(df.LotArea > 10000).head(5) # Выводит True/Flase как результат проверки

Id
1    False
2    False
3     True
4    False
5     True
Name: LotArea, dtype: bool

In [71]:
(df.SaleCondition == 'Normal').head(5) # Равно ли значение тексту 'Normal'

Id
1     True
2     True
3     True
4    False
5     True
Name: SaleCondition, dtype: bool

In [83]:
(df.GarageYrBlt > df.YearBuilt).head(5) # Срваниваем значения поэлементно между двумя колонками
            # Например сравить год постройки гаража с годом постройки дома

Id
1    False
2    False
3    False
4     True
5    False
dtype: bool

## Для булевых значений есть агрегатные функции all() и any()
all() возвращает True, только если все значения True, any() возвращает True, если хотя бы одно значение True

In [86]:
(df.GarageYrBlt > df.YearBuilt).all()

False

In [87]:
(df.GarageYrBlt > df.YearBuilt).any()

True

In [80]:
(df.Fence.isnull()).head(5)

Id
1    True
2    True
3    True
4    True
5    True
Name: Fence, dtype: bool

In [81]:
(df.Fence.notnull()).head(5)

Id
1    False
2    False
3    False
4    False
5    False
Name: Fence, dtype: bool

## Более сложные материи

In [95]:
df.LotConfig.isin(['Inside', 'Corner']).head(5) # Проверяем вхождение значений из списка в значения колонки LotConfig

Id
1     True
2    False
3     True
4     True
5    False
Name: LotConfig, dtype: bool

In [94]:
~df.LotConfig.isin(['Inside', 'Corner']).head(5) # NOT (то есть не вхождение этих значений)

Id
1    False
2     True
3    False
4    False
5     True
Name: LotConfig, dtype: bool

In [99]:
((df.SalePrice < 100000) & (df.LotArea > 10000)).head(5) # AND (входит то и то)

Id
1    False
2    False
3    False
4    False
5    False
dtype: bool

In [100]:
((df.SalePrice < 100000) | (df.LotArea > 10000)).head(5) # OR (входит то или то)

Id
1    False
2    False
3     True
4    False
5     True
dtype: bool

## Более сложна математика

In [102]:
(df.SalePrice ** 2).head(5) # Возвести в квадрат каждое значение в столбце SalePrice

Id
1    43472250000
2    32942250000
3    49952250000
4    19600000000
5    62500000000
Name: SalePrice, dtype: int64

# Библиотека numpy
#### На самом деле, pandas использует внутри себя более низкоуровневую библиотеку numpy для научных вычислений, поэтому можно пользоваться математическими операциями из этой библиотеки

In [103]:
import numpy as np

In [107]:
np.sqrt(df.LotArea).head(5) # вычислить корень из каждого значения колонки LotArea
                    # Вычисление происходит с помощью библиотеки numpy

Id
1     91.923882
2     97.979590
3    106.066017
4     97.724101
5    119.415242
Name: LotArea, dtype: float64

In [109]:
np.log(df.SalePrice).head(5) # вычислить логарифм для каждого значения в колонке SalePrice

Id
1    12.247694
2    12.109011
3    12.317167
4    11.849398
5    12.429216
Name: SalePrice, dtype: float64

# Расчет произвольных функций

## Для Series

In [112]:
def price_class(price): # Создаем функцию price_class которая возвращает значение в зависимости от условия
    return "Низкий" if price < 200000 else "Высокий" # Если значение меньше 200000 и  в ином случае

df.SalePrice.apply(price_class).head(5) # Применяем функцию price_class к колонке SalePrice

Id
1    Высокий
2     Низкий
3    Высокий
4     Низкий
5    Высокий
Name: SalePrice, dtype: object

## Для DataFrame

In [124]:
def interesting(row): # Создаем функцию interesting, которая определяет интесно нам или нет
    if (row['PoolArea'] > 0) and (row['SalePrice'] < 250000): # Если есть басик и прайс < 250000
        return "Интересна!!! Есть басик!!" # Возвращаем текстовое значение, что нам интересно
    elif row['SalePrice'] < 200000: # Если прайс ниже чем 200000 
        return "Интересна, но без басика." 
    else:
        return "Прайс - борщ!!" # Иначе возвращаем что прайс слишком большой

df.apply(interesting, axis=1).head(5) # Применяем функцию к вертикальной оси таблицы
                                        # Так как в функции описано какие колонки обходить, то она пойдет по ним

Id
1               Прайс - борщ!!
2    Интересна, но без басика.
3               Прайс - борщ!!
4    Интересна, но без басика.
5               Прайс - борщ!!
dtype: object

### Вопрос: зачем пользоваться компонентными операциями и функциями, если можно сделать apply

In [125]:
%%timeit
df.SalePrice**2

62.1 µs ± 2.94 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)

In [126]:
%%timeit
df.SalePrice.apply(lambda x: x**2)

203 µs ± 13.2 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

# Добавление/изменение строк/столбцов
## Столбцы
Используем индексацию и правила расчета формул:

In [128]:
df['PricePerArea'] = df.SalePrice / df.LotArea # создаем новый столбец PricePerArea и записываем его в наш DataFrame
                                                # То есть технически у нас увеличилась таблица на 1 колонку

In [158]:
df['VeryUsefulColumn'] = 0 # В новую колонку можно вписать просто любое значение

In [160]:
df.loc[[1, 3], 'VeryUsefulColumn'] = 1 # Записываем в 1, 3 ячейку колонки VeryUsefulColumn значение 1

In [161]:
df.loc[[4, 6], 'VeryUsefulColumn'] = [11, 12] # записываем в 4 и 6 ячейку значения из списка

In [162]:
df.loc[[7, 9], 'VeryUsefulColumn'] = df.SalePrice # портируем в 7 и 9 ячейку значния из ячеек колонки SalePrice
                                                    # По сути тут выполнилась команда ВПР для этих индексов

In [168]:
# Можно написать присвоение принудительно, выглядеть это будет вот так:
df.loc[[2, 5], 'VeryUsefulColumn'] = df.loc[[2, 5], 'SalePrice'] # Принудительно переносим ячейки 8 и 10 из 
                                            # из колонки SalePrice в колонку VeryUsefulColumn
                                            # При этом индексы обязательно должны совпадать

## Строки

In [169]:
df.loc[140] = 0 # Создать строку с индексом 14 и заполнить ее нулями

In [172]:
df.loc['count'] = df.count() # создаем новую строчку count, 
                            # в которую записываем количество непропущенных значений в каждом столбце

## Удаление строк/столбцов

In [178]:
df.drop('VeryUsefulColumn', axis=1) # удалить колонку VeryUsefulColumn
                                    # Важно! в данном случае удаление происходит виртуально
                                    # То есть исходный DataFrame не меняется

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice,PricePerArea
Id,,,,,,,,,,,,,,,,,,,,,
1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,Inside,...,NaN,NaN,NaN,0,2,2008,WD,Normal,208500,24.674556
2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,FR2,...,NaN,NaN,NaN,0,5,2007,WD,Normal,181500,18.906250
3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,Inside,...,NaN,NaN,NaN,0,9,2008,WD,Normal,223500,19.866667
4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,Corner,...,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000,14.659686
5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,FR2,...,NaN,NaN,NaN,0,12,2008,WD,Normal,250000,17.531557
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98,20,RL,73.0,10921,Pave,NaN,Reg,HLS,AllPub,Inside,...,NaN,NaN,NaN,0,5,2007,WD,Normal,94750,8.675945
99,30,RL,85.0,10625,Pave,NaN,Reg,Lvl,AllPub,Corner,...,NaN,NaN,Shed,400,5,2010,COD,Abnorml,83000,7.811765
100,20,RL,77.0,9320,Pave,NaN,IR1,Lvl,AllPub,Inside,...,NaN,NaN,Shed,400,1,2010,WD,Normal,128950,13.835837
140,0,0,0.0,0,0,0,0,0,0,0,...,0.0,0,0,0,0,0,0,0,0,0.000000
count,101,101,87.0,101,101,7,101,101,101,101,...,1.0,24,10,101,101,101,101,101,101,101.000000

In [176]:
df.drop(['VeryUsefulColumn', 'PricePerArea'], axis=1) # Удалить сразу несколько колонок
                                                        # Важно! в данном случае удаление происходит виртуально
                                                        # То есть исходный DataFrame не меняется

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
Id,,,,,,,,,,,,,,,,,,,,,
1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,Corner,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98,20,RL,73.0,10921,Pave,NaN,Reg,HLS,AllPub,Inside,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,94750
99,30,RL,85.0,10625,Pave,NaN,Reg,Lvl,AllPub,Corner,...,0,NaN,NaN,Shed,400,5,2010,COD,Abnorml,83000
100,20,RL,77.0,9320,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,NaN,NaN,Shed,400,1,2010,WD,Normal,128950
140,0,0,0.0,0,0,0,0,0,0,0,...,0,0.0,0,0,0,0,0,0,0,0
count,101,101,87.0,101,101,7,101,101,101,101,...,101,1.0,24,10,101,101,101,101,101,101

In [179]:
df.drop(['VeryUsefulColumn', 'PricePerArea'], axis=1, inplace=True) # Удалить сразу несколько колонок
                                # ВАЖНО
                                # Чтобы физически удалить нужные колонки из датафрейма используется метод INPLACE=True

In [181]:
df.drop(140, axis=0) # удалить строку 140 (УДАЛЯЕТСЯ ВИРТУАЛЬНО)

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
Id,,,,,,,,,,,,,,,,,,,,,
1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,Corner,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97,20,RL,78.0,10264,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,8,2006,WD,Normal,214000
98,20,RL,73.0,10921,Pave,NaN,Reg,HLS,AllPub,Inside,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,94750
99,30,RL,85.0,10625,Pave,NaN,Reg,Lvl,AllPub,Corner,...,0,NaN,NaN,Shed,400,5,2010,COD,Abnorml,83000
100,20,RL,77.0,9320,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,NaN,NaN,Shed,400,1,2010,WD,Normal,128950
count,101,101,87.0,101,101,7,101,101,101,101,...,101,1.0,24,10,101,101,101,101,101,101

In [182]:
df.drop([140, 'count'], axis=0) # удалить строку 140 и count (УДАЛЯЕТСЯ ВИРТУАЛЬНО)

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
Id,,,,,,,,,,,,,,,,,,,,,
1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,Corner,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,60,RL,NaN,9765,Pave,NaN,IR2,Lvl,AllPub,Corner,...,0,NaN,NaN,Shed,480,4,2009,WD,Normal,185000
97,20,RL,78.0,10264,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,8,2006,WD,Normal,214000
98,20,RL,73.0,10921,Pave,NaN,Reg,HLS,AllPub,Inside,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,94750
99,30,RL,85.0,10625,Pave,NaN,Reg,Lvl,AllPub,Corner,...,0,NaN,NaN,Shed,400,5,2010,COD,Abnorml,83000
100,20,RL,77.0,9320,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,NaN,NaN,Shed,400,1,2010,WD,Normal,128950

In [184]:
df.drop([140, 'count'], axis=0, inplace=True)  # удалить строку 140 и count (УДАЛЯЕТСЯ ФИЗИЧЕСКИ)

## Удаление дубликатов

In [187]:
df.drop_duplicates() # функция drop_dublicates удаляет дубликаты
                    # Если вызвать ее без параметров то будут удалены только полные дубликаты строк

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
Id,,,,,,,,,,,,,,,,,,,,,
1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,Corner,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,60,RL,NaN,9765,Pave,NaN,IR2,Lvl,AllPub,Corner,...,0,NaN,NaN,Shed,480,4,2009,WD,Normal,185000
97,20,RL,78.0,10264,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,8,2006,WD,Normal,214000
98,20,RL,73.0,10921,Pave,NaN,Reg,HLS,AllPub,Inside,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,94750
99,30,RL,85.0,10625,Pave,NaN,Reg,Lvl,AllPub,Corner,...,0,NaN,NaN,Shed,400,5,2010,COD,Abnorml,83000
100,20,RL,77.0,9320,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,NaN,NaN,Shed,400,1,2010,WD,Normal,128950

In [188]:
df.drop_duplicates(subset=['MSSubClass', 'MSZoning']) # Удаление дубликатов в двух колонках 
                                                     # В данном примере будут удаляться только дубликаты пар значений
                            
                        # ВАЖНО пока inplace=False удаление идет виртуальное

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
Id,,,,,,,,,,,,,,,,,,,,,
1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,Corner,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
6,50,RL,85.0,14115,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,NaN,MnPrv,Shed,700,10,2009,WD,Normal,143000
9,50,RM,51.0,6120,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,4,2008,WD,Abnorml,129900
10,190,RL,50.0,7420,Pave,NaN,Reg,Lvl,AllPub,Corner,...,0,NaN,NaN,NaN,0,1,2008,WD,Normal,118000
16,45,RM,51.0,6120,Pave,NaN,Reg,Lvl,AllPub,Corner,...,0,NaN,GdPrv,NaN,0,7,2007,WD,Normal,132000
18,90,RL,72.0,10791,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,Shed,500,10,2006,WD,Normal,90000
24,120,RM,44.0,4224,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,6,2007,WD,Normal,129900
30,30,RM,60.0,6324,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,5,2008,WD,Normal,68500
31,70,C (all),50.0,8500,Pave,Pave,Reg,Lvl,AllPub,Inside,...,0,NaN,MnPrv,NaN,0,7,2008,WD,Normal,40000
35,120,RL,60.0,7313,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,277500
43,85,RL,NaN,9180,Pave,NaN,IR1,Lvl,AllPub,CulDSac,...,0,NaN,MnPrv,NaN,0,12,2007,WD,Normal,144000
48,20,FV,84.0,11096,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,7,2007,WD,Normal,249700
49,190,RM,33.0,4456,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,6,2009,New,Partial,113000
53,90,RM,110.0,8472,Grvl,NaN,IR2,Bnk,AllPub,Corner,...,0,NaN,NaN,NaN,0,5,2010,WD,Normal,110000
55,80,RL,60.0,7134,Pave,NaN,Reg,Bnk,AllPub,Inside,...,0,NaN,MnPrv,NaN,0,2,2007,WD,Normal,130000
57,160,FV,24.0,2645,Pave,Pave,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,8,2009,WD,Abnorml,172500
62,75,RM,60.0,7200,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,3,2007,WD,Normal,101000
64,70,RM,50.0,10300,Pave,NaN,IR1,Bnk,AllPub,Inside,...,0,NaN,GdPrv,NaN,0,4,2010,WD,Normal,140000
76,180,RM,21.0,1596,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,GdWo,NaN,0,11,2009,WD,Normal,91000
89,50,C (all),105.0,8470,Pave,NaN,IR1,Lvl,AllPub,Corner,...,0,NaN,MnPrv,NaN,0,10,2009,ConLD,Abnorml,85000
93,30,RL,80.0,13360,Pave,Grvl,IR1,HLS,AllPub,Inside,...,0,NaN,NaN,NaN,0,8,2009,WD,Normal,163500
94,190,C (all),60.0,7200,Pave,NaN,Reg,Lvl,AllPub,Corner,...,0,NaN,NaN,NaN,0,11,2007,WD,Normal,133900

## Удаление строк/столбцов с пропущенными значениями

In [192]:
df.dropna() # по умолчанию оно удалит все строчки в которых есть хотя бы одно пропущенное значение

Empty DataFrame
Columns: [MSSubClass, MSZoning, LotFrontage, LotArea, Street, Alley, LotShape, LandContour, Utilities, LotConfig, LandSlope, Neighborhood, Condition1, Condition2, BldgType, HouseStyle, OverallQual, OverallCond, YearBuilt, YearRemodAdd, RoofStyle, RoofMatl, Exterior1st, Exterior2nd, MasVnrType, MasVnrArea, ExterQual, ExterCond, Foundation, BsmtQual, BsmtCond, BsmtExposure, BsmtFinType1, BsmtFinSF1, BsmtFinType2, BsmtFinSF2, BsmtUnfSF, TotalBsmtSF, Heating, HeatingQC, CentralAir, Electrical, 1stFlrSF, 2ndFlrSF, LowQualFinSF, GrLivArea, BsmtFullBath, BsmtHalfBath, FullBath, HalfBath, BedroomAbvGr, KitchenAbvGr, KitchenQual, TotRmsAbvGrd, Functional, Fireplaces, FireplaceQu, GarageType, GarageYrBlt, GarageFinish, GarageCars, GarageArea, GarageQual, GarageCond, PavedDrive, WoodDeckSF, OpenPorchSF, EnclosedPorch, 3SsnPorch, ScreenPorch, PoolArea, PoolQC, Fence, MiscFeature, MiscVal, MoSold, YrSold, SaleType, SaleCondition, SalePrice]
Index: []

[0 rows x 80 columns]

In [193]:
df.dropna(axis=1) # Удалить все столбцы в которых есть хотя бы одно пропущенное значение

,MSSubClass,MSZoning,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,...,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
Id,,,,,,,,,,,,,,,,,,,,,
1,60,RL,8450,Pave,Reg,Lvl,AllPub,Inside,Gtl,CollgCr,...,0,0,0,0,0,2,2008,WD,Normal,208500
2,20,RL,9600,Pave,Reg,Lvl,AllPub,FR2,Gtl,Veenker,...,0,0,0,0,0,5,2007,WD,Normal,181500
3,60,RL,11250,Pave,IR1,Lvl,AllPub,Inside,Gtl,CollgCr,...,0,0,0,0,0,9,2008,WD,Normal,223500
4,70,RL,9550,Pave,IR1,Lvl,AllPub,Corner,Gtl,Crawfor,...,272,0,0,0,0,2,2006,WD,Abnorml,140000
5,60,RL,14260,Pave,IR1,Lvl,AllPub,FR2,Gtl,NoRidge,...,0,0,0,0,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,60,RL,9765,Pave,IR2,Lvl,AllPub,Corner,Gtl,Gilbert,...,0,0,0,0,480,4,2009,WD,Normal,185000
97,20,RL,10264,Pave,IR1,Lvl,AllPub,Inside,Gtl,CollgCr,...,0,0,0,0,0,8,2006,WD,Normal,214000
98,20,RL,10921,Pave,Reg,HLS,AllPub,Inside,Gtl,Edwards,...,0,0,0,0,0,5,2007,WD,Normal,94750
99,30,RL,10625,Pave,Reg,Lvl,AllPub,Corner,Gtl,Edwards,...,77,0,0,0,400,5,2010,COD,Abnorml,83000
100,20,RL,9320,Pave,IR1,Lvl,AllPub,Inside,Gtl,NAmes,...,0,0,0,0,400,1,2010,WD,Normal,128950

In [194]:
df.dropna(how='all') # Удаляются строки которые состоят только из пустых значений

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
Id,,,,,,,,,,,,,,,,,,,,,
1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,Corner,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,60,RL,NaN,9765,Pave,NaN,IR2,Lvl,AllPub,Corner,...,0,NaN,NaN,Shed,480,4,2009,WD,Normal,185000
97,20,RL,78.0,10264,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,8,2006,WD,Normal,214000
98,20,RL,73.0,10921,Pave,NaN,Reg,HLS,AllPub,Inside,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,94750
99,30,RL,85.0,10625,Pave,NaN,Reg,Lvl,AllPub,Corner,...,0,NaN,NaN,Shed,400,5,2010,COD,Abnorml,83000
100,20,RL,77.0,9320,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,NaN,NaN,Shed,400,1,2010,WD,Normal,128950

## Заменя значений и переименование

In [195]:
df.rename(columns={'SalePrice' : 'СтоимостьПродажи', 'YrSold' : 'ГодПродажи'}) # Переименовать выбранные заголовки столбцов
                                # По умолчанию операция происходит виртуально

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,ГодПродажи,SaleType,SaleCondition,СтоимостьПродажи
Id,,,,,,,,,,,,,,,,,,,,,
1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,Corner,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,60,RL,NaN,9765,Pave,NaN,IR2,Lvl,AllPub,Corner,...,0,NaN,NaN,Shed,480,4,2009,WD,Normal,185000
97,20,RL,78.0,10264,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,8,2006,WD,Normal,214000
98,20,RL,73.0,10921,Pave,NaN,Reg,HLS,AllPub,Inside,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,94750
99,30,RL,85.0,10625,Pave,NaN,Reg,Lvl,AllPub,Corner,...,0,NaN,NaN,Shed,400,5,2010,COD,Abnorml,83000
100,20,RL,77.0,9320,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,NaN,NaN,Shed,400,1,2010,WD,Normal,128950

In [197]:
df.rename(columns=str.upper) # Привести заголовки столбцов в верхний регистр

,MSSUBCLASS,MSZONING,LOTFRONTAGE,LOTAREA,STREET,ALLEY,LOTSHAPE,LANDCONTOUR,UTILITIES,LOTCONFIG,...,POOLAREA,POOLQC,FENCE,MISCFEATURE,MISCVAL,MOSOLD,YRSOLD,SALETYPE,SALECONDITION,SALEPRICE
Id,,,,,,,,,,,,,,,,,,,,,
1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,Corner,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,60,RL,NaN,9765,Pave,NaN,IR2,Lvl,AllPub,Corner,...,0,NaN,NaN,Shed,480,4,2009,WD,Normal,185000
97,20,RL,78.0,10264,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,8,2006,WD,Normal,214000
98,20,RL,73.0,10921,Pave,NaN,Reg,HLS,AllPub,Inside,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,94750
99,30,RL,85.0,10625,Pave,NaN,Reg,Lvl,AllPub,Corner,...,0,NaN,NaN,Shed,400,5,2010,COD,Abnorml,83000
100,20,RL,77.0,9320,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,NaN,NaN,Shed,400,1,2010,WD,Normal,128950

### Значения

In [199]:
df.CentralAir

Id
1      Y
2      Y
3      Y
4      Y
5      Y
      ..
96     Y
97     Y
98     Y
99     N
100    Y
Name: CentralAir, Length: 100, dtype: object

In [201]:
df.replace({'CentralAir' : {'Y' : True, 'N' : False}}).CentralAir # Заменяем в колонке CentralAir значения Y и N 
                        # На True и False
                    # Происходит это следующим образом, мы передаем словарь с ключом колонки и значением 
                    # в виде словаря замен, где ключ - что менять, а значение - на что менять

Id
1       True
2       True
3       True
4       True
5       True
       ...
96      True
97      True
98      True
99     False
100     True
Name: CentralAir, Length: 100, dtype: bool

### Замена пропущенных значений

In [204]:
df.fillna(-999) # заменеяет все пропущенные значения на заданное

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
Id,,,,,,,,,,,,,,,,,,,,,
1,60,RL,65.0,8450,Pave,-999,Reg,Lvl,AllPub,Inside,...,0,-999.0,-999,-999,0,2,2008,WD,Normal,208500
2,20,RL,80.0,9600,Pave,-999,Reg,Lvl,AllPub,FR2,...,0,-999.0,-999,-999,0,5,2007,WD,Normal,181500
3,60,RL,68.0,11250,Pave,-999,IR1,Lvl,AllPub,Inside,...,0,-999.0,-999,-999,0,9,2008,WD,Normal,223500
4,70,RL,60.0,9550,Pave,-999,IR1,Lvl,AllPub,Corner,...,0,-999.0,-999,-999,0,2,2006,WD,Abnorml,140000
5,60,RL,84.0,14260,Pave,-999,IR1,Lvl,AllPub,FR2,...,0,-999.0,-999,-999,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,60,RL,-999.0,9765,Pave,-999,IR2,Lvl,AllPub,Corner,...,0,-999.0,-999,Shed,480,4,2009,WD,Normal,185000
97,20,RL,78.0,10264,Pave,-999,IR1,Lvl,AllPub,Inside,...,0,-999.0,-999,-999,0,8,2006,WD,Normal,214000
98,20,RL,73.0,10921,Pave,-999,Reg,HLS,AllPub,Inside,...,0,-999.0,-999,-999,0,5,2007,WD,Normal,94750
99,30,RL,85.0,10625,Pave,-999,Reg,Lvl,AllPub,Corner,...,0,-999.0,-999,Shed,400,5,2010,COD,Abnorml,83000
100,20,RL,77.0,9320,Pave,-999,IR1,Lvl,AllPub,Inside,...,0,-999.0,-999,Shed,400,1,2010,WD,Normal,128950

# Фильтрация

## Фильтрация по названиям столбцов

In [210]:
df.filter(like='Garage') # выводит только те заголовки в которых есть сочетание символов "Garage"

,GarageType,GarageYrBlt,GarageFinish,GarageCars,GarageArea,GarageQual,GarageCond
Id,,,,,,,
1,Attchd,2003.0,RFn,2,548,TA,TA
2,Attchd,1976.0,RFn,2,460,TA,TA
3,Attchd,2001.0,RFn,2,608,TA,TA
4,Detchd,1998.0,Unf,3,642,TA,TA
5,Attchd,2000.0,RFn,3,836,TA,TA
...,...,...,...,...,...,...,...
96,BuiltIn,1993.0,Fin,2,420,TA,TA
97,Attchd,1999.0,RFn,2,472,TA,TA
98,Attchd,1965.0,Fin,1,432,TA,TA
99,Basment,1920.0,Unf,1,366,Fa,TA
100,NaN,NaN,NaN,0,0,NaN,NaN

In [214]:
df.filter(regex='Yr|Year') # Можно фильтровать передавая сочетания значений, разделяя их |

     YearBuilt  YearRemodAdd  GarageYrBlt  YrSold
Id
1         2003          2003       2003.0    2008
2         1976          1976       1976.0    2007
3         2001          2002       2001.0    2008
4         1915          1970       1998.0    2006
5         2000          2000       2000.0    2008
..         ...           ...          ...     ...
96        1993          1993       1993.0    2009
97        1999          1999       1999.0    2006
98        1965          1965       1965.0    2007
99        1920          1950       1920.0    2010
100       1959          1959          NaN    2010

[100 rows x 4 columns]

## Фильтрация по содержимому
Используем индексацию и булевы операции

In [216]:
df.SaleCondition == 'Normal'

Id
1       True
2       True
3       True
4      False
5       True
       ...
96      True
97      True
98      True
99     False
100     True
Name: SaleCondition, Length: 100, dtype: bool

In [215]:
df.loc[df.SaleCondition == 'Normal'] # df.SaleCondition == 'Normal' вернет нам Series из True и False
                                    # После чего функция loc профильтрует нашу таблицу и вернет только те
                                    # строки где SaleCondition == Normal (то есть вернулось True)

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
Id,,,,,,,,,,,,,,,,,,,,,
1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
6,50,RL,85.0,14115,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,NaN,MnPrv,Shed,700,10,2009,WD,Normal,143000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,60,RL,69.0,9337,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,204750
96,60,RL,NaN,9765,Pave,NaN,IR2,Lvl,AllPub,Corner,...,0,NaN,NaN,Shed,480,4,2009,WD,Normal,185000
97,20,RL,78.0,10264,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,8,2006,WD,Normal,214000
98,20,RL,73.0,10921,Pave,NaN,Reg,HLS,AllPub,Inside,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,94750
100,20,RL,77.0,9320,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,NaN,NaN,Shed,400,1,2010,WD,Normal,128950

In [225]:
df.loc[df.SalePrice < 150000, 'Fence'] # Выводит ячейки колонки Fence для которых в колонке SalePrice выполняется условие
                                        # SalePrice < 150000
                                        # Результат это Series

Id
4        NaN
6      MnPrv
9        NaN
10       NaN
11       NaN
13       NaN
16     GdPrv
17       NaN
18       NaN
20     MnPrv
22     GdPrv
24       NaN
27       NaN
30       NaN
31     MnPrv
32     MnPrv
37       NaN
39       NaN
40       NaN
43     MnPrv
44     MnPrv
45       NaN
49       NaN
50     MnPrv
52     MnPrv
53       NaN
55     MnPrv
60     MnPrv
62       NaN
64     GdPrv
69       NaN
72       NaN
74      GdWo
75       NaN
76      GdWo
77       NaN
78     MnPrv
79       NaN
80     MnPrv
84       NaN
89     MnPrv
90       NaN
91       NaN
92      GdWo
94       NaN
98       NaN
99       NaN
100      NaN
Name: Fence, dtype: object

In [228]:
df.loc[df.SalePrice < 150000, ['PoolArea', 'Fence', 'SalePrice']] # Выводит ячейки колонки 'PoolArea', 'Fence', 'SalePrice' 
                    # для которых в колонке SalePrice выполняется условие < 150000
                    # Результат это DataFrame

     PoolArea  Fence  SalePrice
Id
4           0    NaN     140000
6           0  MnPrv     143000
9           0    NaN     129900
10          0    NaN     118000
11          0    NaN     129500
13          0    NaN     144000
16          0  GdPrv     132000
17          0    NaN     149000
18          0    NaN      90000
20          0  MnPrv     139000
22          0  GdPrv     139400
24          0    NaN     129900
27          0    NaN     134800
30          0    NaN      68500
31          0  MnPrv      40000
32          0  MnPrv     149350
37          0    NaN     145000
39          0    NaN     109000
40          0    NaN      82000
43          0  MnPrv     144000
44          0  MnPrv     130250
45          0    NaN     141000
49          0    NaN     113000
50          0  MnPrv     127000
52          0  MnPrv     114500
53          0    NaN     110000
55          0  MnPrv     130000
60          0  MnPrv     124900
62          0    NaN     101000
64          0  GdPrv     140000
69          0    NaN      80000
72          0    NaN     129500
74          0   GdWo     144900
75          0    NaN     107400
76          0   GdWo      91000
77          0    NaN     135750
78          0  MnPrv     127000
79          0    NaN     136500
80          0  MnPrv     110000
84          0    NaN     126500
89          0  MnPrv      85000
90          0    NaN     123600
91          0    NaN     109900
92          0   GdWo      98600
94          0    NaN     133900
98          0    NaN      94750
99          0    NaN      83000
100         0    NaN     128950

## Сортировка по индексам

In [229]:
df.sort_index() # Сортировать таблицу по индексу в алфавитном порядке

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
Id,,,,,,,,,,,,,,,,,,,,,
1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,Corner,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,60,RL,NaN,9765,Pave,NaN,IR2,Lvl,AllPub,Corner,...,0,NaN,NaN,Shed,480,4,2009,WD,Normal,185000
97,20,RL,78.0,10264,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,8,2006,WD,Normal,214000
98,20,RL,73.0,10921,Pave,NaN,Reg,HLS,AllPub,Inside,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,94750
99,30,RL,85.0,10625,Pave,NaN,Reg,Lvl,AllPub,Corner,...,0,NaN,NaN,Shed,400,5,2010,COD,Abnorml,83000
100,20,RL,77.0,9320,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,NaN,NaN,Shed,400,1,2010,WD,Normal,128950

In [232]:
df.sort_index(ascending=False) # Сортировать таблицу по индексу в обратном порядке

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
Id,,,,,,,,,,,,,,,,,,,,,
100,20,RL,77.0,9320,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,NaN,NaN,Shed,400,1,2010,WD,Normal,128950
99,30,RL,85.0,10625,Pave,NaN,Reg,Lvl,AllPub,Corner,...,0,NaN,NaN,Shed,400,5,2010,COD,Abnorml,83000
98,20,RL,73.0,10921,Pave,NaN,Reg,HLS,AllPub,Inside,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,94750
97,20,RL,78.0,10264,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,8,2006,WD,Normal,214000
96,60,RL,NaN,9765,Pave,NaN,IR2,Lvl,AllPub,Corner,...,0,NaN,NaN,Shed,480,4,2009,WD,Normal,185000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,Corner,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500

In [235]:
df.sort_index(axis=1) # Сортировать таблицу по названию столбцов в алфавитном порядке

,1stFlrSF,2ndFlrSF,3SsnPorch,Alley,BedroomAbvGr,BldgType,BsmtCond,BsmtExposure,BsmtFinSF1,BsmtFinSF2,...,SaleType,ScreenPorch,Street,TotRmsAbvGrd,TotalBsmtSF,Utilities,WoodDeckSF,YearBuilt,YearRemodAdd,YrSold
Id,,,,,,,,,,,,,,,,,,,,,
1,856,854,0,NaN,3,1Fam,TA,No,706,0,...,WD,0,Pave,8,856,AllPub,0,2003,2003,2008
2,1262,0,0,NaN,3,1Fam,TA,Gd,978,0,...,WD,0,Pave,6,1262,AllPub,298,1976,1976,2007
3,920,866,0,NaN,3,1Fam,TA,Mn,486,0,...,WD,0,Pave,6,920,AllPub,0,2001,2002,2008
4,961,756,0,NaN,3,1Fam,Gd,No,216,0,...,WD,0,Pave,7,756,AllPub,0,1915,1970,2006
5,1145,1053,0,NaN,4,1Fam,TA,Av,655,0,...,WD,0,Pave,9,1145,AllPub,192,2000,2000,2008
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,680,790,0,NaN,3,1Fam,Gd,No,310,0,...,WD,0,Pave,6,680,AllPub,232,1993,1993,2009
97,1588,0,0,NaN,3,1Fam,TA,Av,1162,0,...,WD,0,Pave,6,1588,AllPub,158,1999,1999,2006
98,960,0,0,NaN,3,1Fam,TA,No,520,0,...,WD,0,Pave,6,960,AllPub,120,1965,1965,2007
99,835,0,0,NaN,2,1Fam,TA,No,108,0,...,COD,0,Pave,5,458,AllPub,0,1920,1950,2010
100,1225,0,0,NaN,3,1Fam,TA,No,569,0,...,WD,0,Pave,6,950,AllPub,352,1959,1959,2010

## Сортировка по значениям

In [236]:
df.sort_values('SalePrice') # Сортировать по значениям колонки SailPrice по возрастанию

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
Id,,,,,,,,,,,,,,,,,,,,,
31,70,C (all),50.0,8500,Pave,Pave,Reg,Lvl,AllPub,Inside,...,0,NaN,MnPrv,NaN,0,7,2008,WD,Normal,40000
30,30,RM,60.0,6324,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,5,2008,WD,Normal,68500
69,30,RM,47.0,4608,Pave,NaN,Reg,Lvl,AllPub,Corner,...,0,NaN,NaN,NaN,0,6,2010,WD,Normal,80000
40,90,RL,65.0,6040,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,6,2008,WD,AdjLand,82000
99,30,RL,85.0,10625,Pave,NaN,Reg,Lvl,AllPub,Corner,...,0,NaN,NaN,Shed,400,5,2010,COD,Abnorml,83000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46,120,RL,61.0,7658,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,2,2010,WD,Normal,319900
21,60,RL,101.0,14215,Pave,NaN,IR1,Lvl,AllPub,Corner,...,0,NaN,NaN,NaN,0,11,2006,New,Partial,325300
12,60,RL,85.0,11924,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,7,2006,New,Partial,345000
54,20,RL,68.0,50271,Pave,NaN,IR1,Low,AllPub,Inside,...,0,NaN,NaN,NaN,0,11,2006,WD,Normal,385000
59,60,RL,66.0,13682,Pave,NaN,IR2,HLS,AllPub,CulDSac,...,0,NaN,NaN,NaN,0,10,2006,New,Partial,438780

In [251]:
df.sort_values(['SaleCondition', 'SalePrice'])[['SaleCondition', 'SalePrice']].to_csv('Train_Sorted.csv')
                            # Сортировать по значениям двух колонок, сортировка происходит по очереди
                            # И записать результат работы этого файла в csv файл

## Вопросы из зала
Как заменить значение одно на другое по всему датафрейму

In [257]:
df.replace('RL', 'Намана').head(25)

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
Id,,,,,,,,,,,,,,,,,,,,,
1,60,Намана,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
2,20,Намана,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
3,60,Намана,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
4,70,Намана,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,Corner,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
5,60,Намана,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
6,50,Намана,85.0,14115,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,NaN,MnPrv,Shed,700,10,2009,WD,Normal,143000
7,20,Намана,75.0,10084,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,307000
8,60,Намана,NaN,10382,Pave,NaN,IR1,Lvl,AllPub,Corner,...,0,NaN,NaN,Shed,350,11,2009,WD,Normal,200000
9,50,RM,51.0,6120,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,4,2008,WD,Abnorml,129900
10,190,Намана,50.0,7420,Pave,NaN,Reg,Lvl,AllPub,Corner,...,0,NaN,NaN,NaN,0,1,2008,WD,Normal,118000
11,20,Намана,70.0,11200,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,129500
12,60,Намана,85.0,11924,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,7,2006,New,Partial,345000
13,20,Намана,NaN,12968,Pave,NaN,IR2,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,144000
14,20,Намана,91.0,10652,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,8,2007,New,Partial,279500
15,20,Намана,NaN,10920,Pave,NaN,IR1,Lvl,AllPub,Corner,...,0,NaN,GdWo,NaN,0,5,2008,WD,Normal,157000
16,45,RM,51.0,6120,Pave,NaN,Reg,Lvl,AllPub,Corner,...,0,NaN,GdPrv,NaN,0,7,2007,WD,Normal,132000
17,20,Намана,NaN,11241,Pave,NaN,IR1,Lvl,AllPub,CulDSac,...,0,NaN,NaN,Shed,700,3,2010,WD,Normal,149000
18,90,Намана,72.0,10791,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,Shed,500,10,2006,WD,Normal,90000
19,20,Намана,66.0,13695,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,159000
20,20,Намана,70.0,7560,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,MnPrv,NaN,0,5,2009,COD,Abnorml,139000
21,60,Намана,101.0,14215,Pave,NaN,IR1,Lvl,AllPub,Corner,...,0,NaN,NaN,NaN,0,11,2006,New,Partial,325300
22,45,RM,57.0,7449,Pave,Grvl,Reg,Bnk,AllPub,Inside,...,0,NaN,GdPrv,NaN,0,6,2007,WD,Normal,139400
23,20,Намана,75.0,9742,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,230000
24,120,RM,44.0,4224,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,6,2007,WD,Normal,129900
25,20,Намана,NaN,8246,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,NaN,MnPrv,NaN,0,5,2010,WD,Normal,154000